@charset 'utf-8';

.col-md-1{
    border: 1px solid red;
}
table, th, td{
    text-align: center;
}
th{
    background-color: #ccc;
    border: 1px solid blue !important
}
tr, td{
    vertical-align: middle !important;
}
/* div{
    text-align: center;
} */
.container{
    margin: 0 auto;
    width: 1000px;

}
ul{
    list-style: none;
}